<section class="flex my-12 md:mt-20 lg:my-0">
  <div class="text-lg my-auto">
    <h1 class="text-4xl p-2 m-2 lg:w-1/2 bg-light-page-background">
      Servicios Integrales de Organización Técnica
    </h1>
    <p
      class="md:m-0 lg:m-2 mr-8 bg-light-page-background border border-l-0 border-light-page-text md:pl-10 p-4 shadow-lg"
    >
      Somos un equipo de profesionales que brindan servicios a la comunidad con
      el fin de lograr el desarrollo socio-económico e industrial del distrito.
    </p>
  </div>
  <img
    class="h-screen hidden lg:block"
    src="https://images.unsplash.com/photo-1606337321936-02d1b1a4d5ef?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8dGVjbmljb3N8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
    aria-hidden="true"
  />
</section>
