<section class="flex my-12 md:mt-20 lg:my-0">
  <div class="text-lg my-auto">
    <h1 class="text-4xl p-2 m-2 lg:w-1/2 bg-light-page-background">
      Servicios Integrales de Organización Técnica
    </h1>
    <p
      class="md:m-0 lg:m-2 mr-8 bg-light-page-background lg:w-2/3 border border-l-0 border-light-page-text md:pl-10 p-4 shadow-lg"
    >
      Somos un equipo de profesionales que brindan servicios a la comunidad con
      el fin de lograr el desarrollo socio-económico e industrial del distrito.
    </p>
  </div>
  <img
    class="hidden mt-10 lg:block"
    src="https://blog.uvirtual.org/hs-fs/hubfs/Marketing%20-%20Recursos/Blog/Fotos%20Blog/3.webp?width=755&height=520&name=3.webp"
    aria-hidden="true"
  />
</section>
