---
import ContactForm from "../components/ContactForm/ContactForm.jsx";
import mail from "/mail.svg";
---

<article class="flex justify-center items-center">
  <section class="w-full m-auto md:w-1/2">
    <h1 class="text-5xl my-5">Contactanos</h1>
    <ContactForm client:load />
  </section>

  <div class="hidden md:block min-w-[350px] w-1/3  overflow-hidden">
    <img
    class="relative -right-10 top-5"
    src={mail}
    aria-hidden="true"
  />
  </div>
</article>
