---
import Slider from "../components/Slider";

import data from "../seeds/integrantes";
---

<section class="flex justify-center items-center">
  <div class="md:w-4/5 w-full my-10">
    <Slider client:load data={data} />
  </div>
</section>
