---
import Layout from "../layouts/Layout.astro";
import landing from "../seeds/landing";
---

<Layout title="SIOTEC">
	<main class="flex flex-col md:flex-row">
		<article class="text-lg my-auto">
			<h1 class="text-4xl mx-4 mb-8 md:w-1/3 lg:w-1/2">
				{landing.title}
			</h1>
			<p
				class="md:w-1/2 md:m-0 mr-8 bg-light-page-background border border-l-0 border-light-page-text md:pl-10 p-4 shadow-lg"
			>
				{landing.description}
			</p>
			<img
				class="h-screen hidden md:block absolute right-0 top-0 -z-10"
				src={landing.image}
				aria-disabled="true"
				alt="Imagen de un monton de engranajes"
			/>
		</article>
	</main>
</Layout>
