---
import Layout from "../layouts/Layout.astro";
import Slider from "../components/Slider";

import data from "../seeds/integrantes";
---

<Layout title="SIOTEC - nosotros">
  <div class="flex justify-center items-center">
    <div class="w-2/3">
      <Slider client:load data={data} />
    </div>
  </div>
</Layout>
