---
import Layout from "../layouts/Layout.astro";

import servicios from "../seeds/servicios";
import Service from "../components/Service.astro";
---

<Layout title="Grupo SIOTEC - Servicios">
  <section class="px-12 md:px-24 py-12">
    <h1 class="text-center text-4xl mb-10">¿Que hacemos?</h1>
    <div class="grid md:grid-cols-2 gap-12 md:gap-24">
      {servicios.map((item) => <Service data={item} />)}
    </div>
  </section>
</Layout>
