---
import Layout from "../layouts/Layout.astro";

import trabajos from "../seeds/trabajos";
---

<Layout title="SIOTEC - Trabajos">
    {
        trabajos.map((trabajo) => {
            return (
                <section>
                    <h1>{trabajo.title}</h1>
                    <p>{trabajo.description}</p>
                    <ul class="images-container">
                        {trabajo.images.map((image, index) => (
                            <li>
                                <img
                                    src={image}
                                    alt={`Ejemplo de trabajo ${index + 1}`}
                                />
                            </li>
                        ))}
                    </ul>
                </section>
            );
        })
    }
</Layout>
