---
import SocialMedia from "./SocialMedia.astro";
---

<footer class="flex items-center justify-between py-2 border-t-light-footer-border dark:border-t-dark-footer-border border-t bg-light-footer-background dark:bg-dark-footer-background text-light-footer-text dark:text-dark-footer-text">
    <h1 class=" ml-4">
        Copyright © 2023 SIOTEC
    </h1>

    <ul class="flex items-center">
        <li><SocialMedia mediaId="1" /></li>
        <li><SocialMedia mediaId="2" /></li>
        <li><SocialMedia mediaId="3" /></li>
    </ul>
</footer>
