<header class="flex justify-between p-6">

    <h1 class="font-bold text-3xl">Grupo SIOTEC</h1>

    <ul class="flex items-center justify-center">
        <ul class="p-2 dropdown">

            <li class="cursor-pointer">Servicios</li>

            <ul class="dropdown-content shadow shadow-gray-900">
                <a href="/servicios/1" class="p-2 block">Refrigeración</a>
                <a href="/servicios/2" class="p-2 block">Mantenimiento</a>
                <a href="/servicios/3" class="p-2 block">Sistemas</a>
                <a href="/servicios/4" class="p-2 block">Seguridad</a>
            </ul>

        </ul>
        <a href="/trabajos" class="p-2">Trabajos</a>
        <a href="/contacto" class="p-2">Contacto</a>
    </ul>

</header>

<style>
     .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      z-index: 1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }
</style>