---
export interface Props {
    mediaId: String;
}

const { mediaId } = Astro.props;

import socialMedia from "../seeds/socialMedia";
const media = socialMedia.find((media) => Number(media.id) == Number(mediaId));
---

<a href={media.url} target="_blank">
    <i class={`${media.icon} mx-2 md:mx-4 w-8 md:w-12`}></i>
</a>