---
export interface Props {
    mediaId: String;
}

const { mediaId } = Astro.props;

import socialMedia from "../seeds/socialMedia";
const media = socialMedia.find((media) => Number(media.id) == Number(mediaId));
---

<a href={media.url} target="_blank">
    <img class="mx-2 md:mx-4 w-8 md:w-12" src={media.image} alt={media.name} width="48" />
</a>