---
export interface Props {
    service: Number;
}

export function getStaticPaths() {
    return [
        { params: { service: 1 } },
        { params: { service: 2 } },
        { params: { service: 3 } },
        { params: { service: 4 } },
        { params: { service: 5 } },
        { params: { service: 6 } },
        { params: { service: 7 } },
        { params: { service: 8 } },
        { params: { service: 9 } },
    ];
}

const { service } = Astro.params;

import Layout from "../../layouts/Layout.astro";

import servicios from "../../seeds/servicios";
const servicio = servicios.find(servicio => Number(servicio.id) == Number(service))
---

<Layout title="Grupo SIOTEC - Servicios">
    <article class="bg-light-page-background shadow pl-10 p-4 w-fit max-w-4xl">
        <h1>{servicio.title}</h1>
        <ul class="list-disc list-inside">{servicio.items.map(item => {
            return <li class="ml-4 mt-2">{item}</li>
        })}</ul>
    </article>
</Layout>
