---
import Layout from "../../layouts/Layout.astro";

import servicios from "../../seeds/servicios";
import Service from "../../components/Service.astro";
---

<Layout title="Grupo SIOTEC - Servicios">
  <section class="grid grid-cols-3 gap-10 w-4/5 m-auto">
    {servicios.map((item) => <Service data={item} />)}
  </section>
</Layout>
