---
import "../styles/global.css";
export interface Props {
  title: string;
}

const { title } = Astro.props;

import Footer from "../components/Footer.astro";
import Header from "../components/Header.jsx";
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Grupo SIOTEC es un equipo de profesionales que brindan servicios a la comunidad
        con el fin de lograr el desarrollo socio-económico e industrial del
        distrito"
    />
    <meta
      name="keywords"
      content="profesionales, servicios, industria, técnicos, organización"
    />
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Mark-kus" />
	
    <meta name="geo.region" content="AR" />
    <meta name="geo.placename" content="Buenos Aires" />
	
    <meta name="og:title" content="Grupo SIOTEC" />
    <meta
      name="og:description"
      content="Grupo SIOTEC es un equipo de profesionales que brindan servicios a la comunidad
	  con el fin de lograr el desarrollo socio-económico e industrial del
	  distrito"
	  />
	  <meta
      name="og:image"
      content="https://lh3.googleusercontent.com/a-/AD_cMMTZVJ4e2mLTCaQmWPWJmoh82eBsp-Sz4qZg9zlygbpRSPWm5QAgEoANTaZle-vbzSiJYMowDZL_vU9TM3l2rLaFvbC6wl6LSTwIqKlaOQj1J0fEgI5eHroATJuGojBXGi-hm8n7dnNjyWSVVDa2ig3ceCySvAckOSgM6ox4l4bEpLdmBXPiYJjVU95_TZJSxm4kBdrSIsz-tTOTaHJFx0solk1A4cErYHBu_jg33ntY5no0y_OOJK79rgJ0i_NDdsCktk4pMDk1My4tLQHEICaknBMmcM0RplOhXEaEc9rbSk2kFv3e7WAhnKidfN7nYxMM6b1uTX5IFuymugoOjZ1TWB8YCK5WvhD5xubqfFA8j6jID0BBkl4-DpNLsDtyWo2TSkgt7ehVjj3u-H_1XKWBrHwkvd7BbXLfuWer4yrvSjiCT-W3bkQ2wSxSwS-5BkC-YgA5XaeVrjG4C1RINLHr8RmGI_MEmWH7cYNhvIrC9VdlWk-lRk1xIVu3THkQuCb4FhYaqRcETW19NHToFCT-rIE8vt_heMRtlQE6LIVY3hJr3xuQSq5Kvq_SVT7zXHAVnA1VPbLrw5PzxJq67CSKJnKDX-213HszcMusiIy9p6V2poaWLVGEvRJyzXIIv7YVy-a9TIQixvNy8NO-4r3TGtsBcgP5wIBEkTWbNDO7uIlyfA91eeqtGKjJ71Ql2eyOzVZBIF8fWEawVAybALvB1ugD2BwQUquwBSYVLAdkPm6xg6MHRWTsXVmlta5ZXARc0NLzc2Yg-BY85ZHdFUEbxQ9QWnHflMUsjhicDq8_w1z8YyePaZ63aej-TdvO6a1bHtoRTqU2b3ktN160r0wDUoLmQ0OyNDA6YuVmwG6HxT8x5mCbjKG3k_MA9bHZlATnNH4rqvXO4k-m3_LszDI3EYd7HcKswTAAgSF200yqCADNMTZCjnNqyv9o9Cq8hg=s96-c-rg-br100"
	  />
	  
	  <meta name="generator" content={Astro.generator} />
	  
	  <link rel="sitemap" href="/sitemap-index.xml" />
	  <link rel="icon" type="image/jpg" href="favicon.jpg" />
	  <link rel="preconnect" href="https://fonts.googleapis.com" />
	  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	  <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rubik:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/4652da1d0d.js"
      crossorigin="anonymous"></script>

    <title>{title}</title>
  </head>
  <body
    class="flex flex-col justify-between absolute inset-0 bg-light-page-background dark:bg-dark-page-background text-light-page-text dark:text-dark-page-text"
  >
    <Header client:load />
    <slot />
    <Footer />
  </body>
</html>
