---
export interface Props {
	title: string;
}

const { title } = Astro.props;

import Footer from '../components/Footer.astro'
import Header from '../components/Header.jsx'
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="SIOTEC">
		<meta name="keywords" content="">

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="Mark-kus">

		<meta name="geo.region" content="AR">
		<meta name="geo.placename" content="Buenos Aires">

		<meta name="og:title" content="SIOTEC">
		<meta name="og:description" content="">
		<meta name="og:image" content="URL de imagen">

		<meta name="generator" content={Astro.generator} />
		
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<script src="https://kit.fontawesome.com/4652da1d0d.js" crossorigin="anonymous"></script>

		<title>{title}</title>
	</head>
	<body class="flex flex-col justify-between min-h-screen bg-light-page-background dark:bg-dark-page-background text-light-page-text dark:text-dark-page-text">
		<Header client:load />
		<slot />
		<Footer />
	</body>
</html>